<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="page-header">
      <div class="row">
        <div class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </div>
        <div class="span10">
          <h1>Crush me! Crush you!</h1>
          <p>Abra seu coração.</p>
        </div>
      </div>
    </div>

    <p>
      <a href="crush.html">
        <button class="btn btn-large btn-primary" type="button">TEM UM CRUSH EM ALGUÉM? ENVIE ANONIMAMENTE CLICANDO AQUI</button>
      </a>
    </p>

    <div class="row">
      <div class="span4">
        <h3>Pendentes</h3>
        <ol class="crushes-pending unstyled"></ol>
      </div>

      <div class="span4">
        <h3>Respondidos</h3>
        <ol class="crushes-replied unstyled"></ol>
      </div>

      <div class="span4">
        <h3>Enviados</h3>
        <ol class="crushes-sent unstyled"></ol>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; DojoApps 2012</p>
    </footer>

  </div>