@model CrushMe.Web.Models.CrushReceivedViewModel

<div class="modal fade crush-modal" tabindex="-1" role="dialog" data-crush-id="@Model.Id" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Tem um crush para você!</h3>
  </div>
  <div class="modal-body">
    Clique em quem você acha que mandou o crush!

    <div class="candidate-list">
    @foreach (var canditade in Model.Candidates)
    {
        <div class="candidate" data-target-id="@canditade.FbId">
            <img src="http://graph.facebook.com/@canditade.FbId/picture?type=normal" alt="@canditade.Name" class="candidate-picutre"/>
            <span class="candidate-name">@canditade.Name</span>
        </div>
    }
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-crush-none">Nenhum destes</button>
    <span class="candidate-chosen"></span>
    <button class="btn btn-primary">Foi este mesmo!</button>
  </div>
</div>