@{
    ViewBag.Title = "About";
}

<h2>Sobre</h2>

<p>Crush Me App desenvolvido pela equipe <a href="http://www.dojoapps.com">DojoApps</a></p>

<a href="mailto:contato@dojoapps.com.br">Entre em contato</a>