@{
    ViewBag.Title = "Sobre";
}

<h2>@ViewBag.Title</h2>

<p>Crush Me App desenvolvido pela equipe <a href="http://www.dojoapps.com">DojoApps</a></p>

<a href="mailto:contato@dojoapps.com.br">Entre em contato</a>

<h3>Desenvolvimento:</h3>
<img src="@Url.Content("~/Content/images/dojo-logo.png")" alt="StartupDev Rumble" />

<h3>Apoio:</h3>
<img src="@Url.Content("~/Content/images/startupdevrumble-logo.png")" alt="StartupDev Rumble" />
