@{
    ViewBag.Title = "Festa de lançamento";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>Não perca nossa festa de lançamento do Crush Me!</p>

    <p>Chame seus amigos e vamos para a pegação!</p>

    <p>Sexta-feira dia 7 de setembro vamos todos beber no baixo Botafogo, Rio de Janeiro.</p>

    <p>Iremos pagar uma garrafa de Antártica Original para cada casal formado pelo Crush Me!</p>
</div>

<img style="margin:5px 0px;" src="http://maps.google.com/staticmap?center=-22.95041,-43.18173&zoom=15&size=560x200&maptype=mobile&markers=-22.95041,-43.18173,red&key=ABQIAAAAqQJ-gFBKUbBLaFN1HQF4KBQ_k2Fxd8XZtbWUsvz5Vrarxzf2SRSh7DRXLQmAZ-6XwtrmMhkINGT27A&sensor=false" alt="Nos vemos lá!" />
<iframe width="560" height="315" src="http://www.youtube.com/embed/N9hazmsUxrM" frameborder="0"
    allowfullscreen></iframe>
