@{
    ViewBag.Title = "CrushMeParty";
}

<h2>Festa de lançamento</h2>

<P>Não perca nossa festa de lançamento do Crush Me!</P>

<p>Chame seus amigos e vamos para a pegação!</p>

<p>Sexta-feira dia 7 de setembro vamos todos beber no baixo Botafogo, Rio de Janeiro.</p>

<p>Iremos pagar uma garrafa de Antártica Original para cada casal formado pelo Crush Me!</p>

<iframe width="560" height="315" src="http://www.youtube.com/embed/N9hazmsUxrM" frameborder="0" allowfullscreen></iframe>