@{
    ViewBag.Title = "Crush Me";
}

<h3>Um novo jeito de encontrar pessoas</h3>

<iframe width="560" height="315" src="http://www.youtube.com/embed/N4unHrvATOI?rel=0" frameborder="0" allowfullscreen></iframe>
