<div class="container">

    <div class="row">
        <div class="span2">
            <a href="#" class="thumbnail">
                <img src="http://icons.iconarchive.com/icons/deleket/face-avatars/128/Male-Face-D2-icon.png" alt="">
            </a>
        </div>

        <div class="span8">
            <h2>Nome</h2>
        </div>

        <div class="span2">
            <a href="crush.html">
                <button class="btn btn-large" type="button">Enviar Crush</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3>Likes</h3>
        </div>
    </div>

</div>