<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="page-header">
      <div class="row">
        <div class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </div>
        <div class="span10">
          <h1>Crush me! Crush you!</h1>
          <p>Abra seu coração.</p>
        </div>
      </div>
    </div>

    <p>
      <a href="crush.html">
        <button class="btn btn-large btn-primary" type="button">TEM UM CRUSH EM ALGUÉM? ENVIE ANONIMAMENTE CLICANDO AQUI</button>
      </a>
    </p>

    <div class="row">
      <div class="span4">
        <h2><img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/128/orange-sticker-badges-129-icon.png" width="50" height="50"/> PENDENTES (3)</h2>
        <table class="crushes-pending table table-bordered">          
        </table>
      </div>

      <div class="span4">
        <h2><img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/128/orange-sticker-badges-044-icon.png" width="50" height="50"/> RESPONDIDOS (3)</h2>
        <table class="crushes-replied table table-bordered"></table>
      </div>

      <div class="span4">
        <h2><img src="http://icons.iconarchive.com/icons/mysitemyway/grunge-stickers/128/orange-sticker-badges-221-icon.png" width="50" height="50"/> ENVIADOS (4)</h2>
        <table class="crushes-sent table table-bordered"></table>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; DojoApps 2012</p>
    </footer>

  </div>